.dsb {
    padding: 0;
    margin: 0 -4px;
    list-style-type: none;
}

.dsb__item {
    display: inline-block;
    margin: 0 4px 16px;
}

.dsb__link {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dsb__icon {
    transition: .2s opacity;
}

.dsb__icon:hover,
.dsb__icon:focus {
    opacity: .9;
}
