.ldssb {
    padding: 0;
    margin: 0 -4px;
    list-style-type: none;
}

.ldssb__item {
    display: inline-block;
    margin: 0 4px 16px;
}

.ldssb__link {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ldssb__icon {
    fill: currentColor;
}