.ldssb {
    padding: 0;
    margin: 0 -4px;
    list-style-type: none;
}

.ldssb__item {
    display: inline-block;
    margin: 0 4px 16px;
}

.ldssb__link {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    fill: currentColor;
}

.ldssb__screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}